# Python artifacts
*.py[cod]
*.pyo

# VSCode settings
.vscode/
*.code-workspace

# Virtualenvs
.venv/
env/
venv/
venv_app/

# SQLite DB
app/data/combined.db

# Kpler ETL venv
/kplerenv/

# Python caches
__pycache__/
/etl/__pycache__/
